<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>COYO Demo Plug-in</title>
  <meta content="A simple demo plug-in" name="description" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source Sans Pro"
  />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<html>
  <body>
    <h1>Hello COYO - Entry Point 1</h1>
    <p>Welcome <span id="userName" class="emphasize"></span></p>
    <p>Your email: <span id="userEmail" class="emphasize"></span></p>
    <p>This is View 1.</p>
    <button id="lookupAccounts">
      Lookup Account 2
    </button>
    <script src="../scripts/coyo-start.js"></script>
  </body>

  <script>
    let lookupButton = document.getElementById("lookupAccounts");
    lookupButton.onclick = function() {
    var params = {
        "email":"CameronSTaljaard@Gmail.com",
        "lookup_token":"MF7FXPqcrBQENtmQoUnE",
    };
    $.post( "/", params)
      .done(function( data ) {
        console.log( "Response: " );
        console.log( data );
      });
    }
  </script>
</html>
